#borderidhasilakhirnama{border:1px solid #00f;width:90%;padding:5px;border-radius:5px;margin:0 auto;overflow:auto}#tes{text-align:justify;padding:5px;border:1px solid #00f;border-radius:5px;margin:5px 0}#generateopsinama,#timermulai{display:none}button.login{background-color:#00f}button.wa{background-color:#4caf50}button.login,button.wa{color:#fff;padding:14px 20px;margin:8px 0;border:none;cursor:pointer;width:100%;border-radius:30px}button.wa:hover{opacity:.8}.cancelbtn{width:auto;padding:10px 18px;background-color:#f44336}.imgcontainer{text-align:center;margin:24px 0 12px 0;position:relative}img.avatar{width:40%;border-radius:50%}.container{padding:16px;border:2px double red;border:30px;padding:5px}span.psw{float:right;padding-top:16px}.modal{display:none;position:fixed;z-index:99;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:#000;background-color:rgba(0,0,0,.4);padding-top:30px}.modal-petunjuk{width:90%}.modal-content{width:80%}.modal-contenta{width:65%}.modal-content,.modal-contenta,.modal-petunjuk{background-color:#fefefe;margin:5% auto 0 auto;border:1px solid #888}.modal-contentt{background-color:#fefefe;margin:auto auto 0 auto;width:80%}.close{position:absolute;right:25px;top:0;color:#000;font-size:35px;font-weight:700}.close:focus,.close:hover{color:red;cursor:pointer}.animate{-webkit-animation:animatezoom .6s;animation:animatezoom .6s}@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0)}to{-webkit-transform:scale(1)}}@keyframes animatezoom{from{transform:scale(0)}to{transform:scale(1)}}@media screen and (max-width:300px){span.psw{display:block;float:none}.cancelbtn{width:100%}}.versii-table{width:950px;max-width:100%;border-collapse:collapse}.versi-table{width:auto;max-width:100%;border-collapse:collapse}.versi-table td,.versi-table th,.versi-table tr,.versii-table td,.versii-table th,.versii-table tr{border:1px solid #000;color:#000;padding:5px 10px 5px 10px}.versi-table th,.versii-table th{background-color:#eee;color:#00f;vertical-align:middle;text-align:center}.versi-table tr:nth-of-type(even) td,.versii-table tr:nth-of-type(even) td{border:0;background-color:#fff;border:1px solid #000}.versi-table tr:nth-of-type(odd) td,.versii-table tr:nth-of-type(odd) td{border:0;background-color:#eef;border:1px solid #000}input[type=radio]+label.opsi{color:#000;cursor:pointer}input[type=radio]:checked+label.opsi::before{content:" \2705"}input[type=radio]:checked+label.opsi{color:#00f;background-color:#ff0}label.asem{border:1px solid #adacac;background-color:#eeefff;padding:5px;width:200px;cursor:pointer;border-radius:5px;color:#00f}label.asem::before{content:url(https://3.bp.blogspot.com/-6O-y9t8ZdMw/Xnzcbx-RVnI/AAAAAAAAPT4/aS_hpQNKPoAVLJk4BjpE8Zd3s8zEVI2wACLcBGAsYHQ/s1600/kamerakecil.png)}label.asem::after{content:" Unggah Poto"}img.gambarlamaso3{max-width:90%}#KodeMatematika,#KodeMatematika2{display:inline-block;text-align:left;line-height:normal;font-family:Arial,Helvetica,sans-serif}#KodeMatematika{font-size:14px}
.containerbaru{position:relative;overflow:hidden;width:100%;padding-top:56.25%}.responsive-iframebaru{position:absolute;top:0;left:0;bottom:0;right:0;width:100%;height:100%}.garis td,.garis th,.garis tr{border:1px solid #000}.garis th{border:1px solid #000;text-align:center;vertical-align:middle}
.containervideo{position:relative;overflow:hidden;width:100%;padding-top:56.25%}.video-iframebaru{position:absolute;top:0;left:0;bottom:0;right:0;width:100%;height:100%}
@media (min-screen:400px){
    .divelvideo{width: 100%;}.elvideo{width: 100%;}
    
}
.divelvideo{width:100%;margin:10% auto;padding:0}.elvideo{width: 90%;margin:0 auto}
.tesbody{background: rgba(250, 244, 164, 0.651) url("/img/bgwa2.png") repeat }

.n_zoom:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  };
  .pointerkan{cursor: pointer;}
  .warnaeka{background-color:rgb(250, 234, 8)}